.env

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/vendor/
backend/.phpunit.cache/
backend/.phpunit.result.cache
backend/storage/keys/*.pem
backend/.php-cs-fixer.cache
backend/rector.rcs

# Frontend E2E
frontend/test-results/
frontend/playwright-report/
