<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnDeprecation="true">
    <testsuites>
        <testsuite name="Backend">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Nunca o banco de dev: "force" sobrescreve o DB_DATABASE do container/CI mesmo quando já setado. Ver bin/setup_test_database.php. -->
    <php>
        <env name="DB_DATABASE" value="autoschedule_test" force="true"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
